.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.social-icons {
  display: flex;
  gap: 20px; /* ikonlar büyük olduğu için boşluğu da artırdım */
}

.icon-img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  border-radius: 12px; /* istersen 0 yapabilirsin */
  transition: transform 0.3s ease;
  cursor: pointer;
}

.icon-img:hover {
  transform: scale(1.05);
}
